<div class="map center" id="streetview">

<%  pos = getCurUserPos %>
<img src="<%= getStreetViewUrl(pos[:latitude],pos[:longitude],pos[:heading],pos[:pitch]) %>" alt="street view" id='map_image' />
<div id="lat_lon">
  <div class="strike">latitude: <span id="lat"><%=pos[:latitude].to_s%></span> </div>
  <div class="strike">longitude: <span id="lon"><%=pos[:longitude].to_s%></span> </div>
  <div class="strike">heading: <span id="heading"><%=pos[:heading].to_s%></span> </div>
  <div class="strike">pitch: <span id="pitch"><%=pos[:pitch].to_s%></span> </div>
</div>
<div id="map_ctrl">
  <div class="map_ctrl_item" id="map_ctrl_enlarge">↗</div>
  <div class="map_ctrl_item" id="map_ctrl_none"></div>
  <div class="map_ctrl_item" id="map_ctrl_shrink">↘</div>
  <div class="map_ctrl_item" id="map_ctrl_moveleft">←</div>
  <div class="map_ctrl_item" id="map_ctrl_forward">↑</div>
  <div class="map_ctrl_item" id="map_ctrl_moveright">→</div>
  <div class="map_ctrl_item" id="map_ctrl_turnleft">⟲</div>
  <div class="map_ctrl_item" id="map_ctrl_backward">↓</div>
  <div class="map_ctrl_item" id="map_ctrl_turnright">⟳</div>
</div>
<div id="compass">
  <div id="uparrow"></div>
  <div id="downarrow"></div>
</div>
</div>

<br>
<div class="search_place_input">
  <input type="text" name="map_auto_complete_input" value="" id="map_auto_complete_input">
  <div class="little_button" id="map_search_button">-&gt;</div>
</div>
<div class="center" id="guidmap">
</div>

<%= form_with model: @current_position, url: '/current_positions/update', html: {class: "hidden", id: "current_position_form"} do |f| %>
<%= f.number_field :latitude %>
<%= f.number_field :longitude %>
<%= f.number_field :heading %>
<%= f.number_field :pitch %>
<% end %>

<script type="text/javascript">
mainOnload();
setReloadMap(mainOnload);
</script>
