<h1>Travels</h1>

<%= link_to "New Travel", new_travel_path %>

<%
def getUrl(latitude, longitude)
  "https://maps.googleapis.com/maps/api/streetview?size=640x480&fov=120&location=#{latitude},#{longitude}&heading=0&pitch=0&key=#{current_user.google_api_key}"
end
%>

<% @travels.each do |t| %>
  <div class="travel_item">
    <div class="travel_item_from_img">
      <img src="<%=getUrl(t.start_latitude, t.start_longitude)%>" alt="Travel starting position image">
    </div>

    <div class="travel_item_body">
      <div class="travel_item_name">
        <div><%= t.name %></div>
        <div><%= link_to "Edit", edit_travel_path(@travel) %></div>
        <div><%= link_to "Delete", travel_path(@travel), method: :delete %></div>
      </div>
      <div class="travel_item_from_info">
        <p><%= t.atart_name %></p>
        <p><%= t.start_latitude %></p>
        <p><%= t.start_longitude %></p>
      </div>
      <div class="travel_item_end_info">
        <p><%= t.end_name %></p>
        <p><%= t.end_latitude %></p>
        <p><%= t.end_longitude %></p>
      </div>
    </div>

    <div class="travel_item_end_img">
      <img src="<%=getUrl(t.end_latitude, t.end_longitude)%>" alt="Travel ending position image">
    </div>
  </div>
<% end %>
