<div class="travel_pannel travel_new">
<h1>Create a new Travel</h1>
<%= form_with model: @travel do |f| %>
      <div class="left_part">
        <%=   f.label "Start: " %>
        <div class="preview_street_view">
          <img src="<%=getStreetViewUrl(@travel.start_latitude, @travel.start_longitude)%>" alt="Start place street view" id="start_street_view_img">
        </div>
        <div class="">
          <div class="field">
          <%=   f.label "Place Name: " %><br />
          <%=   f.text_field :start_name, id: "travel_start_name" %>
          </div>
          <div class="field">
          <%=   f.label "Latitude: " %><br />
          <%=   f.number_field :start_latitude, in: -180.0..180.0, step: 0.000000000000001, id: "travel_start_lat" %>
          </div>
          <div class="field">
          <%=   f.label "Longitude: " %><br />
          <%=   f.number_field :start_longitude, in: -90.0..90.0, step: 0.000000000000001, id: "travel_start_lng" %>
          </div>
        </div>
      </div>

      <div class="middle_part">
        <div class="field">
          <%=   f.label "Name: " %> <br />
          <%=   f.text_field :name %>
        </div>

        <div class="field">
          <%=   f.label "Introduction: " %><br />
          <%=   f.text_area :introduction, id: "travel_introduction" %>
        </div>
        <%=   f.submit %>
      </div>

      <div class="right_part">
        <%=   f.label "End: " %> <br />
        <div class="preview_street_view">
          <img src="<%=getStreetViewUrl(@travel.end_latitude, @travel.end_longitude)%>" alt="End place street view" id="end_street_view_img">
        </div>
        <div class="">
          <div class="field">
            <%=   f.label "Place Name: " %> <br />
            <%=   f.text_field :end_name, id: "travel_end_name" %>
          </div>
          <div class="field">
          <%=   f.label "Latitude: " %> <br />
          <%=   f.number_field :end_latitude, in: -90.0..90.0, step: 0.000000000000001, id: "travel_end_lat" %>
          </div>
          <div class="field">
          <%=   f.label "Longitude: " %> <br />
          <%=   f.number_field :end_longitude, in: -180.0..180.0, step: 0.000000000000001, id: "travel_end_lng" %>
          </div>
        </div>
      </div>
<% end %>
<p id='notice'><%= notice %></p>
</div>

<div class="modal hidden" id="map_container">
  <div class="full" id="select_place_map"></div>
  <div class="float_top_center">
    <input type="inline text" name="map_auto_complete_input" value="" id="select_auto_complete_input">
    <div class="inline little_button" id="select_search_button"> -&gt; </div>
    <div class="inline middle_button" id="select_ok_button"> OK </div>
    <div class="inline middle_button" id="select_cancel_button"> Cancel </div>
  </div>
</div>

<script type="text/javascript">
  initNewTravelPage();
</script>
