<!DOCTYPE html>
<html>
  <head>
    <title>VisualGuide</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?v=3&libraries=places" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
